<div *ngIf="questionItems$ | async as questionItems">
  <ng-container
    *ngFor="let questionItem of questionItems; index as questionNumber"
  >
    <mat-card>
      <mat-card-title>{{
        questionNumber + 1 + ". " + questionItem.text
      }}</mat-card-title>
      <mat-card-actions>
        <app-question-radio
          *ngIf="!questionItem.isMultipleChoice"
          [questionItem]="questionItem"
          [answerGroup]="questionItem.availableAnswers"
          [radioFormControl]="formControlFromIndex(questionNumber)"
          [answerTable]="answerTable"
        ></app-question-radio>
        <app-question-checkbox
          *ngIf="questionItem.isMultipleChoice"
          [questionItem]="questionItem"
          [answerGroup]="questionItem.availableAnswers"
          [radioFormControl]="formControlFromIndex(questionNumber)"
          [answerTable]="answerTable"
        ></app-question-checkbox>
      </mat-card-actions>
    </mat-card>
  </ng-container>

  <div
    [matTooltip]="
      answerFormArray.status == 'INVALID'
        ? 'Please fill in the missing answers'
        : ''
    "
    matTooltipPosition="right"
    style="width: fit-content"
  >
    <button
      mat-raised-button
      *ngIf="!isSubmitted"
      (click)="submitAnswers()"
      [disabled]="answerFormArray.status == 'INVALID'"
    >
      Submit Answers
    </button>
  </div>
  <app-score-card *ngIf="isSubmitted"></app-score-card>
  <app-back-button></app-back-button>
</div>
