<div>
  <app-question-card
    *ngIf="!isSubmitted"
    [questionItem]="currentQuestionItem"
    [questionNumber]="questionCounter"
    [disabledButtons]="false"
    [radioFormControl]="currentFormControl"
  ></app-question-card>
  <div class="controls" *ngIf="!isSubmitted">
    <button
      mat-raised-button
      (click)="previousQuestion()"
      disabled="{{ questionCounter == 0 }}"
    >
      Previous
    </button>
    <button
      mat-raised-button
      (click)="nextQuestion()"
      *ngIf="this.questionCounter < this.questionItems.length - 1"
    >
      Next
    </button>
    <button
      mat-raised-button
      (click)="submitAnswers()"
      *ngIf="this.questionCounter == this.questionItems.length - 1"
      disabled="{{ answerFormArray.status == 'INVALID' }}"
    >
      Submit
    </button>
  </div>
  <app-score-card *ngIf="isSubmitted"></app-score-card>
  <app-back-button></app-back-button>
</div>
